/*
      Created by Keith Donegan of Code-Sucks.com
	  
	  E-Mail: Keithdonegan@gmail.com
	  
	  You can do whatever you want with these layouts,
	  but it would be greatly appreciated if you gave a link
	  back to http://www.code-sucks.com
	  
*/

* { padding: 0; margin: 0; }

body {
 font-family: Helvetica, sans-serif;
 font-size: 13px;
 color: black;
}
#wrapper { 
 width: *;
 background-image: url(<% theme show="path"%>images/background.png);
 background-repeat: repeat-x;
 background-position: top 0px;
 margin: 0 auto;
}

#l1wrapper { 
 width: *;
 background-image: url(<% theme show="path"%>images/l1background.png);
 background-repeat: repeat-x;
 background-position: top 0px;
 margin: 0 auto;
}

#header {
/* color: #333; */
 width: 920px;
 float: left;
 padding: 20px;
/* border: 1px solid #ccc; */
 height: 314px;
 padding: 10px;
 margin: 0px 10px 0px 50px;
 background-image: url(<% theme show="path"%>images/cow_fish_logo-400.png);
 background-repeat: no-repeat;
 background-position: 540px 22px;
/* background: #E7DBD5; */
/* border: 1px solid #ccc;*/ 
}

#l1header {
/* color: #333; */
 width: 920px;
 float: left;
/* border: 1px solid #ccc; */
 height: 94px;
 padding: 10px;
 margin: 0px 30px 0px 50px;
margin-bottom: -15px;
 background-image: url(<% theme show="path"%>images/cow_fish_logo-200.png);
 background-repeat: no-repeat;
 background-position: 540px 12px;
/* background: #E7DBD5; */
/* border: 1px solid #ccc;*/ 
}

#navigation {
 float: left;
 width: 990px;
 color: #ffffff;
 padding: 12px;
 height: 28px;
 font-size: 18px;
/* border: 1px solid #ccc; */ 
 margin: 0px 0px 5px 0px;
/* background: #BD9C8C; */
}
#main {
 float: left;
 width: 1000px;	
}
#leftcolumn {
 float: left;
 width: 250px;
 color: black;
 padding: 10px;
 height: 350px;
 font-size: 18px;
/* border: 1px solid #ccc; */
 margin: 0px 0px 5px 0px;
/* background: #BD9C8C; */
}

#rightcolumn { 
 float: right;
 color: black;
/* border: 1px solid #ccc; */
/* background: #F2F2E6; */
 margin: 0px 0px 5px 0px;
 padding: 10px;
 height: 350px;
 width: 678px;
 display: inline;
}
#l1rightcolumn { 
 float: right;
 color: black;
/* border: 1px solid #ccc; */
/* background: #F2F2E6; */
 margin: 0px 0px 5px 0px;
 padding: 10px;
 width: 678px;
 display: inline;
}

#l2rightcolumn { 
 float: right;
 color: black;
/* border: 1px solid #ccc; */
/* background: #F2F2E6; */
 margin: 0px 0px 5px 0px;
 padding: 10px;
 width: 908px;
 display: inline;
}

#footer { 
 width: 1000px;
 clear: both;
 color: #888888;
 border-top: 1px solid #ccc;
/* background: #BD9C8C; */
 margin: 0px 0px 10px 0px;
 padding: 10px;
}

#blurb {
 float: left;
 width: 550px;
 color: #ffffff;
 padding-left: 20px;
padding-top: 40px;
 font-size: 18px;
/* border: 1px solid #ccc; */
 margin: 0px 0px 5px 0px;
/* background: #BD9C8C; */
}

#blurb2 {
	padding-top: 10px;
	padding-left: 20px;
	width: 550px;
border: 1px solid #ccc;
}

#dl { 
 float: right;
 color: #333;
/* border: 1px solid #ccc; */
/* background: #F2F2E6; */
 margin: 0px 0px 5px 0px;
 padding-top: 140px;
 width: 250px;
 display: inline;
}

ul#mainNav
{
    margin-left: 70px;
    padding: 0px;
    list-style-position: inside;
}       

ul#mainNav li {
        list-style-type: none; 
        display: inline-block;
        margin-right: 80px;
        line-height: 20px;
        height: 40px;
        ﻿zoom: 1;
    *display:inline;

}

ul#mainNav li#mainNavOn
{
/*    background-image: url(<% theme show="path"%>images/mainnavon.png); */
    font-weight: bold;
    color: #555500;
    background-repeat: no-repeat;
    background-position: center 0px;
    
}

ul#mainNav a
{
        font-size: 13pt;
	    text-decoration: none;
        color: #46bde3;
}

ul#mainNav a
{
        font-size: 13pt;
	    text-decoration: none;
        color: #fff;
}

li.readMoreBullet
{
    list-style-image: url(<% theme show="path"%>images/gtriangle.png);
}

ul
{
	padding-top: 12pt;	
	line-height: 15pt;
	margin-left: 24pt;
}

a 
{
	text-decoration: none;
    color: #aaaaaa;
}


div#l1header a 
{
	text-decoration: none;
    color: #000000;
}

h1, h2, h3, h4, h1 a, h2 a, h3 a, h4 a {

    padding-top: 5px;
    margin: 10px 0;
    line-height: 100%;
}

div#blurb h3
{
	font-size:20pt;
	font-weight: normal;
	font-style: italic;
	line-height: 1em;
   color: #ffcc00;
}


div#blurb h4
{
	font-size:16pt;
	font-weight: normal;
	font-style: italic;
	line-height: 1.5em;
   color: #ffcc00;

}

h1 { 
    font-size: 48pt;
    line-height: 16pt;
}

h2 {
    font-size: 18pt;
    line-height: 100%;
	margin: 0px 25px;
}


h3 {
    font-size: 13pt;
}

h4 {
    font-size: 11pt;
}

span.bullet {
	font-size: 18pt;
	color: #2995A5;
    font-weight: normal;	
}

span.head {
	font-size: 18pt;
	font-weight: bold;
	color: #000000;
}

span.newshead {
	font-weight: bold;
	color: #000000;
}
span.newsdate {
	font-weight: normal;
	color: #aaaaaa;
}
span.newsseparator {
	font-weight: normal;
	color: red;
}

span.newslink {
	font-weight: normal;
	color: red;
}

p.newsitem {
  padding-top: 12pt;	
	line-height: 15pt;
}

div#l1rightcolumn p {
  padding-top: 12pt;	
	line-height: 15pt;
}

div#l2rightcolumn p {
  padding-top: 12pt;	
	line-height: 15pt;
}

div.download { 
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-color: transparent;
  background-image: url("<% theme show="path"%>images/button.png");
  width: 225px;
  min-height: 73px;
  height: auto !important;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 1em; 
  margin-left: 0;
  font-size: 26px;
  font-weight: 20;
  white-space: nowrap;
  font-weight: bold;
  font-family: helvetica, arial, sans-serif;
}

.download a { 
  display: block;
  margin-top: 10px;
  margin-right: 8px;
  margin-bottom: 0;
  margin-left: 18px;
  color: #ffffff;
  padding-top: 12px;
  text-decoration: none;
  text-shadow: #667700 0px 2px 2px;
}

.download span { 
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1em;
  padding-left: 18px;
  padding-top: 3px;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-color: transparent;
  background-image: url("<% theme show="path"%>images/triangle.png");
}

img {
border:none;
}

input[type=image] {
border:none;
}



